<header class="main-header">
    <div class="container">
        <a routerLink="/inicio" class="logo">
            <img src="/img/logo-de-neurobrigdge.jpg" alt="NeuroBridge Logo">
            <span>NeuroBridge</span>
        </a>
        <nav class="main-nav">
            <ul>
                <li><a routerLink="/inicio">Inicio Rápido</a></li>
                <li><a routerLink="/conocer">Sobre Nosotros</a></li>
                <li><a routerLink="/sintomas">Síntomas</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <button class="btn btn-secondary">Iniciar</button>
            <button class="btn btn-primary" routerLink="/sintomas">Unirse</button>
        </div>
    </div>
</header>

<section id="iniciodepagina" class="hero-section" data-animate>
    <div class="container hero-container">
        <div class="hero-text">
            <h1>Transformando el bienestar emocional con tecnología</h1>
            <p>Nuestras soluciones están diseñadas para facilitar la autorregulación emocional, permitiendo a las
                personas neurodivergentes gestionar sus emociones de manera efectiva. Además, mejoramos la calidad de vida y
                fomentamos relaciones interpersonales más saludables.</p>
            <div class="hero-buttons">
                <a routerLink="/conocer" class="btn btn-primary">Conocer</a>
                <a routerLink="/sintomas" class="btn btn-secondary">Aprender</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="/img/alexitimia1.jpg" alt="Bienestar emocional con tecnología">
        </div>
    </div>
</section>

<!-- Resto del contenido igual -->
<section class="hero-section">
    <div class="container">
        <div class="hero-container">
            <div class="hero-text">
                <h2>Bienestar Emocional</h2>
                <p>Transforma tu salud emocional con nuestra plataforma que integra tecnología y bienestar mental.</p>
                <div class="hero-buttons">
                    <a routerLink="/sintomas" class="btn btn-primary">Haz tu consulta</a>
                </div>
            </div>
            <div class="hero-image">
                <img src="/img/bienestaremocional.png" alt="Bienestar Emocional" />
            </div>
        </div>
    </div>
</section>
