/* --- Botones dentro de la tabla --- */

button[matButton] {

    font-size: 0.8rem;

    font-weight: 500;

    border-radius: 6px;

    padding: 4px 12px;

    color: rgb(238, 244, 241);

    text-transform: none;

    transition: all 0.25s ease;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    background-color: rgb(246, 65, 24);

}





.btn-nuevo-plan {
    margin-top: 10px;
    background-color: rgb(76, 175, 80) !important;
}

.btn-nuevo-plan:hover {
    background-color: rgb(56, 142, 60) !important;
}


/* --- Responsivo (botones más compactos en pantallas pequeñas) --- */

@media (max-width: 768px) {

    button[matButton] [matIconButton] {

        font-size: 0.7rem;

        padding: 3px 8px;

    }

}