<mat-card class="simple-form-card">
    <mat-card-title>
        {{ edicion ? 'Editar Plan' : 'Registrar Plan de Suscripción' }}
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="form" (submit)="aceptar()">
            @if(edicion){
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" readonly />
            </mat-form-field>
            }

            <mat-form-field>
                <mat-label>Tipo de Plan</mat-label>
                <mat-select formControlName="nombre_plan">
                    @for (tipo of tipos; track tipo) {
                    <mat-option [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
                    }
                </mat-select>
                <mat-error>
                    @if (form.get('nombre_plan')?.hasError('required')) { El campo es obligatorio }
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="precio" />
                <mat-error>
                    @if (form.get('precio')?.hasError('required')) { El precio es obligatorio }
                    @if (form.get('precio')?.hasError('pattern')) { Ingrese un precio válido (ej. 15.50) }
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
                <mat-error>
                    @if (form.get('descripcion')?.hasError('required')) { El campo es obligatorio }
                </mat-error>
            </mat-form-field>

        </form>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-stroked-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="form.invalid">
            {{ edicion ? 'Actualizar' : 'Agregar' }}
        </button>
    </mat-card-actions>
</mat-card>