<div class="container">
    <mat-toolbar class="custom-toolbar">
        <button 
        matButton 
        class="btn-rojo"
        routerLink="/inicio"
        style="margin-right: 10px;">
        <mat-icon>home</mat-icon> 
        Inicio
        </button>
        <button 
        matButton 
        class="btn-rojo"         
        aria-label="Example icon-button with menu icon" 
        [matMenuTriggerFor]="menuPlanes">
            <mat-icon>menu</mat-icon> Planes
        </button>
    </mat-toolbar>

    <mat-menu #menuPlanes="matMenu">
        <button mat-menu-item routerLink="/planes">Listar</button>
        <button mat-menu-item routerLink="/planes/insertar">Registrar</button>
    </mat-menu>
</div>