<mat-card class="simple-form-card">
    <mat-card-title>
        {{ edicion ? 'Editar Plan' : 'Registrar Alerta' }}
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="form" (submit)="aceptar()">
            @if(edicion){
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput formControlName="codigo" readonly />
            </mat-form-field>
            }

            <mat-form-field>
                <mat-label>Tipo de Alerta</mat-label>
                    <input matInput formControlName="alerta">
                <mat-error>
                    @if (form.get('alerta')?.hasError('required')) { El campo es obligatorio }
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mensaje</mat-label>
                <textarea matInput formControlName="mensaje"></textarea>
                <mat-error>
                    @if (form.get('mensaje')?.hasError('required')) { El precio es obligatorio }
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nivel de alerta</mat-label>
                <input matInput type="number" formControlName="nivel"/>
                <mat-error>
                    @if (form.get('nivel')?.hasError('required')) { El campo es obligatorio }
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="usuario">
                    @for (u of listaUsuarios; track u.idUsuario) {
                    <mat-option [value]="u.idUsuario">{{ u.nombre }} {{ u.apellido }}</mat-option>
                    }
                </mat-select>
                <mat-error>Debe seleccionar un usuario</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-stroked-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="form.invalid">
            {{ edicion ? 'Actualizar' : 'Agregar' }}
        </button>
    </mat-card-actions>
</mat-card>