/* Estilo reutilizable para formularios simples */
.simple-form-card {
    max-width: 500px;
    /* Ancho máximo, centrado */
    margin: 24px auto;
    padding: 16px;
    /* Espaciado interno */
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espacio entre campos */
}

mat-form-field {
    width: 100%;
    /* Ocupa todo el ancho de la tarjeta */
}

mat-card-actions {
    padding: 16px;
    display: flex;
    gap: 10px;
    /* Espacio entre botones */
}