/* Contenedor principal */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Título centrado y tamaño mediano */
.title {
    font-size: 24px;
    /* tamaño mediano */
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor del gráfico */
.chart-container {
    width: 30%;
    /* tamaño mediano */
    max-width: 600px;
    /* evita que sea demasiado grande */
    margin: 0 auto;
    /* centra el componente */
}

/* Cuando no hay datos */
.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    color: #555;
}

.no-data-icon {
    font-size: 48px;
    color: #777;
    margin-bottom: 10px;
}

.no-data-message {
    font-size: 18px;
    color: #777;
}