<!-- <p>menu works!</p> -->
 <div class="container">
  <mat-toolbar class="custom-toolbar">
    <button
      matButton
      class="btn-rojo"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menuUsuarios"
    >
      <mat-icon>menu</mat-icon> Rol
    </button>
  </mat-toolbar>
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item routerLink="/roles">Listar</button>
    <button mat-menu-item routerLink="/roles/insertar">Registrar</button>
  </mat-menu>
</div>
